name: Auto Assign Reviewers

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - master
      - Development

permissions:
  pull-requests: write

jobs:
  assign-reviewers:
    runs-on: ubuntu-latest

    steps:
      - name: Assign reviewers to PR
        uses: actions/github-script@v7
        with:
          script: |
            const baseBranch = context.payload.pull_request.base.ref;
            let reviewers = [];

            if (baseBranch === "master") {
                reviewers = ["erangamadhushan", "nandul2424"];
            }

            if (baseBranch === "Development") {
                reviewers = ["erangamadhushan", "nandul2424", "shammy911"];
            }


            await github.rest.pulls.requestReviewers({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              reviewers
            });
